@font-face {
  font-family: "jose";
  src: url(./assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #292a2d;
  color: #a9a9b3;
  font-size: 16px;
  font-family: "jose";
}

a:hover,
li:hover {
  color: white;
}

.navbarLink:focus {
  color: white;
}

a {
  color: #a9a9b3;
  text-decoration: none;
}

/* Page Home */

#icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#icons i {
  font-size: 36px;
}

#pp {
  margin-top: 15vh;
  border-radius: 50%;
  width: 8rem;
  border: solid 2px #a9a9b3;
}

#baseinfo {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

#name {
  font-size: 20px;
}

#homepage {
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar */

nav {
  background-color: #252627;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 8vh;
}

#menu li {
  list-style: none;
  font-size: 20px;
}

/* Page A propos */

#apropos p {
  max-width: 65ch;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  font-weight: 400;
}

#apropos {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

span {
  font-weight: 900;
  font-size: 17px;
}

/* Page CV */

#cv {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#imgcv {
  width: 95%;
  border: 3px solid #a9a9b3;
}

.dl {
  margin-top: 4vh;
  display: flex;
  justify-content: center;
}

.linkdl {
  padding: 10px;
  background-color: #a9a9b3;
  border-radius: 50px;
  border: none;
  color: #252627;
  cursor: pointer;
  font-family: "jose";
  font-weight: 800;
}

/* Composant CodewarsStats */

.imgcw {
  width: 50px;
}

.cwcard {
  display: flex;
  border: 2px solid #a9a9b3;
  border-radius: 5px;
  width: 170px;
}

.cwstats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.cwglobal {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/* Page Projets */

.projetCard:hover,
.cwcard:hover {
  box-shadow: 0px 0px 1rem #a9a9b3;
}

.allProjetCard {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.imgProject {
  border-bottom: #a9a9b3 solid 2px;
}

.projetCard {
  display: flex;
  flex-direction: column;
  border: solid 2px #a9a9b3;
  border-radius: 15px;
  height: 375px;
  max-width: 500px;
}

.plink {
  display: flex;
  justify-content: center;
}

.projetCard > img {
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
}

.descripCard {
  margin: 1rem;
}

.descripCard > h2 {
  margin-bottom: 1rem;
}

/* Variations format display */

@media screen and (orientation: landscape) {
  .allProjetCard {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  #imgcv {
    width: 50%;
  }

  #icons i {
    font-size: 24px;
  }

  #apropos {
    margin-top: 7vh;
  }

  #menu {
    justify-content: flex-start;
    min-height: 6vh;
  }

  #menu > li > a {
    padding-left: 2rem;
    padding-right: 2rem;
    height: 6vh;
    display: flex;
    align-items: center;
  }

  .navbarLink:hover,
  .navbarLink:focus {
    box-sizing: border-box;
    background-color: rgb(169, 169, 179, 0.3);
    border-bottom: solid 3px rgb(169, 169, 179, 0.8);
    color: white;
  }

  .linkdl {
    padding: 15px;
  }
}
